* {
	box-sizing: border-box;
}

body {
	margin: auto;
	background-color: #777;
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	width: 960px;
}

.header, 
.nav,
.section,
.aside,
.footer {
	background-color: #ebebeb;
}

.header {
	text-align: center;
}

.nav li {
	display: inline-block;
	margin-left: 30px;
}

.section {
	width: 495px;
	float: left;
	margin-bottom: 20px;
	padding-bottom: 20px;	
}

.section h1 {
	text-align: center;
	margin-bottom: 10px;
}

.article {
	background-color: #777;
	width: 90%;
	margin: auto;
}

.article h2, p {
	background-color: #ebebeb;
	width: 95%;
	margin: auto;
}

.article h2 {
	text-align: center;
	margin-top: 0px;
}

.aside {
	width: calc(960px - 505px);
	float: left;
	margin-left: 10px;
	margin-top: 30%	;
	text-align: center;
	padding-bottom: 5%;
}

.aside img {
	height: 80%;
	width: 80%;
}

.content {
	margin-bottom: 20px;
}
footer {
	clear: both;
}

footer span {
	text-align: center;
	display: block;
	background-color: #ebebeb;
	padding: 20px 0;
}